* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  background-color: #000;
}
.story span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-slide,
.swiper-slide-active {
  width: 90px !important;
  margin-right: 0 !important;
}

.swiper-button-next {
  width: 16px;
  height: 20px;
  background-color: #fff;
  color: red;
  position: absolute;
  right: 0;
  top: -15px;
  bottom: 0;
  margin: auto;
  z-index: 9999999;
  cursor: pointer;
  clip-path: polygon(30% 0, 100% 50%, 30% 100%, 0% 100%, 56% 50%, 0% 0%);
}
.swiper-button-prev {
  width: 16px;
  height: 20px;
  background-color: #fff;
  color: red;
  position: absolute;
  left: 0;
  top: -15px;
  bottom: 0;
  margin: auto;
  z-index: 9999999;
  cursor: pointer;
  clip-path: polygon(100% 0%, 45% 48%, 100% 100%, 70% 100%, 0% 50%, 70% 0);
}
.swiper-button-disabled {
  display: none !important;
}
